body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: chartreuse;
    
}

#mainheader {
    background-color: black;

}

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20 px;



}

#dog {

    display: flex;
    flex-direction: column;
    outline: rgb(241, 15, 15);
    outline-style: solid;
    outline-width: 5px;
    float: left;
    padding-left: 50px;
}


