body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: chartreuse;
    
}

#mainheader {
    background-color: black;

}

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20 px;



}

#dog {

    display: block;
    flex-direction: column;
    outline: none;
   
    float: left;
    border: 5px;
    padding-left: 50px;
    border-radius: 300px;
}

#hello {
   


}

footer {

    display: block;
    position: absolute;
    bottom: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}

#maincontent {
    
    display: flex;
    padding: 2em;
}

#p1 {

    background-color: seagreen;
    outline: plum;
    outline-style: dashed;
}

#sidebar {
    
    background-color: rebeccapurple;
    outline: salmon;
    flex-direction: column;
    padding: 5px;
}

.flex-parent {
    display: flex;
    justify-content: space-between;

    border: solid 1px rgb(139, 91, 46);

}

.flex-item {
    display: flex;
    justify-content: space-around;
    border: dotted 1px red;


}